
html{
    scroll-behavior:smooth;
}

body{
    background-color: rgb(60, 60, 60);
    background-image:linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.8)), url(dp_profil.jpg);
    background-position: center;
    background-size:cover;

}

::selection{
    background-color:rgb(255, 194, 40) ;
    color: black;
}

.nav{
    position: sticky;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    height: auto;
    width: 100%;
    background-color: rgba(255, 194, 40, 0.731);
    border-radius: 5px;
    box-shadow: 0 4px 6px 0 rgba(255, 179, 0, 0.525), 0 8px 20px 0 rgba(255, 226, 35, 0.29) ;
    

}

#a1{
    position: sticky;
    transition: 0.2s;
    margin: 40px 20px;
    text-align: center;
    font-weight:bolder;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 23px;
    font-family:Arial, Helvetica, sans-serif ;
    

}

#a1:hover{
    position: sticky;
    border-bottom: 3px solid rgb(0, 0, 0);
    letter-spacing: 0.1cm;
    transition: 0.3s;
    padding-bottom: 3px;
    
}

#about{
    width: 600px;
    margin-top: 50px;
    position: relative;
}

h1{
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    margin-bottom: 5px;
    letter-spacing: 0.1cm;
    color: white;
    text-transform: capitalize;
    transition: 0.3s;
}

h1:hover{
    letter-spacing: 0.2cm;
    transition: 0.3s;
}

h2{
    color: rgb(255, 194, 40);
    margin-left: 20px;
}

h3{
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    line-height: 0.8cm;
    
}

.merg{
    display: flex;
}

.pic{
    height: 400px;
    width: 400px;
    background-color: black;
    margin-top: 50px;
    margin-left: 150px; 
    border-radius: 50px  
}
#img1{
    border-radius: 30px;
}

p{
    color: rgb(255, 194, 40);
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: 800;
    text-transform: capitalize;
    margin: 30px  20px;
}

#cv{
    padding: 15px 40px ;
    margin: 20px;
    background-color:rgb(0, 115, 255);
    border-radius: 20px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: bolder;
    transition: 0.2s;


}

#cv:hover{
    background-color: rgb(21, 0, 255);
    color:rgb(255, 255, 255) ;
    transition: 0.2s;

}

.skills{
    height: 600px;
    width: 90%;
    background-color: #ffffff56;
    box-shadow:rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    margin-top: 80px;
    margin-left: 60px;
    border-radius: 15px;
}

.sklcur{
    display: flex;
    width: 100%;
    box-shadow:rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}


#skill{
    font-size: 38px;
    color:rgb(255, 194, 40) ;
    text-decoration: none;
    margin: 20px 43%;
    font-weight: bolder;
    letter-spacing: 0.2cm;
}


.logos{
    margin-top: 30px;
    text-align: center;
    transition:0.3s;
    
}

#clicks{
    margin: 50px 80px;
    transition: 1s;
}

#clicks:hover{
    transform: scale(1.2);
    transition: 0.5s;
    box-shadow: rgba(38,57,77) 0px 20px 30px -10px;
}

.prjt{
    height: 500px;
    text-align: center;
    width: 100%;
}

#prjlg{
    background-color: transparentS;
    font-size: 30px;
    letter-spacing: 0.2cm;
}

.cours{
    display: flex;
}

#card{
    height: 300px;
    width: 500px;
    text-decoration: none;
    border-radius: 10px;
    margin: 40px 20px 30px 20px;
    background-color: #ffffff56;
    transition: background 0.5s, transform 0.5s;
}
.work{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    left: 0;
    bottom: 0;
    overflow: hidden;
    transition: height(0.5s);
    transition: 0.5s;
}
#card:hover{
    background-image: linear-gradient(to bottom, rgba(255,0,0,0),rgb(255, 196, 0));
    transform: translateY(-10px);

}

#prjft{
    color: aliceblue;
}

#proj{
    text-transform: none;
    font-size: small;
    line-height: 0.7cm;
    color: transparent;
    transition: 0.2s;
}

#proj:hover{
    color: white;
    
}


#contact{

    height: 600px;
    width: 100%;
    margin: 40px 0px 0px 0px;
    background-color: #000000;

}
#cnt{
    
    color: white;
    font-size: xx-large;
    font-weight: bolder;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow:rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;

}

#cnt:hover{
    letter-spacing: 0.1cm;
   
}
#box{
    width: 500px;
    margin: 60px 20px 30px 20px;
    line-height: 2cm;
}


#form{
    display: flex;
}

#mail{
    padding: 15px 100px;   
    background-color: rgba(255, 255, 255, 0.742);
    color: rgb(0, 0, 0);
    font-size: larger;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.1cm;
    border-radius: 10px;
    transition: 0.2s;
}

#mail:hover{
    background-color:rgb(219, 49, 49) ;
    color: rgb(255, 255, 255);
    font-size: x-large;
    transition: 0.2s;
}


#call{
    padding: 15px 80px;   
    margin-top: 60px;
    background-color: rgba(255, 255, 255, 0.712);
    color: rgb(0, 0, 0);
    font-size: larger;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.1cm;
    border-radius: 10px;
    transition: 0.2s;

}
#call:hover{
    background-color:rgb(30, 112, 255) ;
    color: rgb(255, 255, 255);
    font-size: x-large;
    transition: 0.2s;
}

#whats{
    padding: 15px 80px;   
    margin-top: 60px;
    background-color: rgba(255, 255, 255, 0.712);
    color: rgb(0, 0, 0);
    font-size: larger;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.1cm;
    border-radius: 10px;
    transition: 0.2s;
}

#whats:hover{
    background-color:rgb(64, 255, 30) ;
    color: rgb(255, 255, 255);
    font-size: x-large;
    transition: 0.2s;
}

.review{
    height: 400px;
    width: 400px;
    text-align: right;


}
#wrt{
    margin-top: 20px;
    color: white;
    outline: none;
    height: 50px;
    width: 400px;
    font-size: 18px;
    background: none;
    text-decoration: none;
    border: none;
    border-bottom: 2px solid rgb(255, 194, 40);
    
}

#msg{
    width: 500px;
    font-size: 18px;
    margin: 30px 0px;
    padding: 10px 0px 200px 20px;
    background: none;
    color: white;
    outline: none;
    border: none;
    border: 2px solid rgb(255, 194, 40);

}

#sub{
    padding: 10px 30px;
    font-size: 18px;
    margin-left:80% ;
    margin-top: 30px;
    font-weight: bold;
    background-color: rgb(255, 194, 40);
    color: rgb(0, 0, 0);
    border-radius: 5px;
    transition: 0.3s;
}

#sub:hover{
    transform: scale(1.1);
    transition: 0.3s;
}

/* screenshot page */
#ecom{
    padding-top: 50px;
}



/* media screen potion */



@media screen and (max-width:600px){


    .nav{
        width: 800px;
    }

    #a1{
        font-size: 20px;
        margin: 10px 18px;
        
    
    }

    .merg{
        width: 400px;
        display:flex;
        
    }

    #about{
        position: relative;
        width: 400px;
        
    }

    h1{
        margin-right: 0px;
        width: 300px;
        font-size: 20px;
    }
    h2{
        font-size: 18px;
    }

    h3{
        font-size: 15px;
    }
    .pic{
        height: 300px;
        width: 300px;
    }

    #img1{
        height: 300px;
        width: 300px;
    }

    p{
        color: rgb(255, 194, 40);
        font-family: Arial, Helvetica, sans-serif;
        font-size: medium;
        font-weight: 800;
        text-transform: capitalize;
        margin: 20px;
    }
    
    #cv{
        padding: 10px 20px;
        border-radius: 10px;
    
    
    }

    .skills{
        width: 600px;
        height: 500px;
    }
    #clicks{
        margin: 40px 40px;
        height: 100px;
        width: 100px;

    }
    #card{
        height: 300px;
        width: 600px;
        border-radius: 10px;
        margin: 40px 20px 30px 20px;
    }
    #prjft{
        width: 180px;
    }

    #box{
        width: 100%;
        margin: 60px 20px 30px 20px;
        line-height: 2cm;
    }
    
    
    #form{
        display: flex;
    }

    #contact{

        height: 600px;
        width: 800px;
        margin: 40px 0px 0px 0px;
        background-color: #000000;

    }
    
    #mail{

        padding: 10px 25px;   
        font-size: medium;
    }
    
    #mail:hover{
        font-size: large;
        transition: 0.2s;
    }
    
    
    #call{
        padding: 10px 25px;   
        font-size: medium;
    
    }
    #call:hover{
        
        font-size: large;
        transition: 0.2s;
    }
    
    #whats{
        padding: 10px 25px;   
        font-size: medium;
    }
    
    #whats:hover{
        font-size: large;
        transition: 0.2s;
    }
    #form{
        width: 100%;
    }
    .review{
        height: 200px;
        width: 100%;
        text-align: right;
    
    
    }
    #wrt{
        font-size: medium;
        width: 250px;
        margin-right: 50px
    }
    
    #msg{
        width: 250px;
        height: 50px;
        padding-bottom: 100px;
        margin-right: 30px;
    
    }
    
    #sub{
        padding: 10px 30px;
        font-size: 18px;
        margin-left:80% ;

    }
    
    #sub:hover{
        transform: scale(1.1);
        transition: 0.3s;
    }
}